@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utility classes for demonstration */

body{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 1rem;
  @apply bg-[#ffffff]
}

/* .demo-breakpoint {
  @apply bg-primary text-white p-5p m-5p sm:bg-secondary md:bg-accent xl:bg-danger;
} */

/* .screen-size{
  @apply  md:px-20
} */

@layer utilities{
  .main-heading{
    @apply  text-2xl font-semibold text-textColor;
  }
  .p-content{
    @apply text-gray-600 tracking-wide text-[16px] font-[380]
  }
  .list-content{
    @apply text-gray-600 tracking-wide text-[15px] font-[380]
  }
  .bold-content{
    @apply text-blue-500
  }
}
 


